.contat{
  margin: auto;
  max-width: 1200px;
}

@media screen and (max-width: 450px) {
  .contat{
    padding: 0px 10px;
  }
}

@media screen and (max-width: 850px) and (min-width : 451px) {
  .contat{
    padding: 0px 10px;
  }
}


@media screen and (max-width: 1199px) and (min-width : 851px) {
  .contat{
    padding: 0px 20px;
  }
}

